@model IEnumerable<FrontendMVC.Models.Partner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach (var item in Model) {
    <div class="card" style="width: 50%;">
        <div class="card-body">
            <div class="row align-items-lg-start">
                    <h5 class="col">@item.IdPartnerTypeNavigation.Name | @item.Name</h5>
                    <h5 class="col" style="text-align: right">@item.Discount%</h5>
            </div>
            <p>@item.IdPartnerDirectorNavigation.FullName</p>
            <p>@item.IdPartnerDirectorNavigation.PhoneNumber</p>
            <p>Рейтинг: @item.Rating</p>
        </div>
    </div>
}
